* {
  box-sizing: border-box;
}
.gifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.gif {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 5px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.logo {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}